/* uc_cck_access.css */

.time-period-fieldset div.form-item {
  display: inline;
}

/* Fix layout distortion by ahah progress indicator */
.form-item .description {
  clear: both;
}

#uc-cck-access-feature-form .delay-period-fieldset .form-item,
#uc-cck-access-feature-form .duration-period-fieldset .form-item {
  display: inline-block;
}

/* Style for additional information custom theme (used only with templates customization) */
div.uc_cck_access_info {
  background: #FFE;
  padding: 0.5em;
  border: 1px solid  #DDD;
  margin: 0 0 1em;
}

